
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  z-index: 1000;
}

.navbar span {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 50px;
  background: linear-gradient(90deg , transparent , #fafafa);
  animation: animate 5s infinite linear;
}

@keyframes animate {
  0%{
      left: 0;
      transform: translate(-100%);
  }
  100%{
      left: 100%;
      transform: translate(0%);
  }
}


.menu li {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
}

.menu li a {
  display: block;
  text-decoration: none;
}

.menu li.clicked {
  animation: rotate 1s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.logo{
    text-transform: capitalize;
    font-size: 30px;
    cursor: pointer;
    font-family: w;
}
ul{
  margin-bottom: 0;
}

li{
    list-style: none;
}

a{
    color: #f7f5f5;
    text-decoration: none;
    font-family: w;
}

.menu{
    display: flex;
    gap: 4rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
}
.btn{
    font-weight: 500;
    text-transform: uppercase;
}




@media (max-width: 1024px) {
  .menu {
    display: none;
    transition: transform 0.03s ease;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    background-color: #0c0c0c;
    width: 100%;
    box-shadow: 0 2px 4px rgba(5, 5, 5, 0.1);
    padding: 1rem;
    gap: 1rem;
  }
a{
  font-size: 18px;
}
.menu.active {
  display: flex;
  transform: translateY(0);
}

  .btn {
    display: block;
    cursor: pointer;
  }
  @keyframes rotate {
  }

  .btn .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #333;
  }
}




