<h1 class="h1">Projects</h1>

<div class="spacer"></div>
<div class="cards">
  <div class="card">
    <h2 class="card-title">Cinema Management System-Crud with Angular</h2>
    <div class="card-content image-row">
      <img src="../../assets/media/Cinema-Management-System.png" alt="Cinema Management System Image" (click)="onImageClick($event)">
      <img src="../../assets/media/cinema003.png" alt="Cinema Management System Image" (click)="onImageClick($event)">
      <img src="../../assets/media/cinema.png" alt="Cinema Management System Image" (click)="onImageClick($event)">
      <img src="../../assets/media/cinema001.png" alt="Cinema Management System Image" (click)="onImageClick($event)">
      <img src="../../assets/media/cinema002.png" alt="Cinema Management System Image" (click)="onImageClick($event)">
    </div>
    <div class="card-text">
      <a href="https://github.com/hysengashii/Cinema-Management-System---Hysen-Gashi.git" target="_blank" class="github-link">View on GitHub</a>
    </div>
  </div>


  <div class="card">
    <h2 class="card-title">Book Finder Application-API</h2>
    <div class="card-content image-row">
      <img src="../../assets/media/book.png" alt="Book Image" (click)="onImageClick($event)">
      <img src="../../assets/media/Book-appi001.png" alt="Book Image" (click)="onImageClick($event)">
      <img src="../../assets/media/book-api003.png" alt="Book Image" (click)="onImageClick($event)">
      <img src="../../assets/media/book-api002.png" alt="Book Image" (click)="onImageClick($event)">
    </div>
    <div class="card-text">
      <a href="https://github.com/hysengashii/Book-Finder---HysenGashi.git" target="_blank" class="github-link">View on GitHub</a>
    </div>
  </div>


  <div class="card">
    <h2 class="card-title">Real Estate-Wordpress</h2>
    <div class="card-content image-row">
      <img src="../../assets/media/RealEstate.png" alt="Real Estate Image" (click)="onImageClick($event)">
      <img src="../../assets/media/realestate2.png" alt="Real Estate Image" (click)="onImageClick($event)">
      <img src="../../assets/media/realestate3.png" alt="Real Estate Image" (click)="onImageClick($event)">
      <img src="../../assets/media/realestate3.png" alt="Real Estate Image" (click)="onImageClick($event)">
    </div>
    <div class="card-text">
      <a href="https://github.com/YllkaD/RealEstate.git" target="_blank" class="github-link">View on GitHub</a>
    </div>
  </div>


  <div class="card">
    <h2 class="card-title">Calling API- Angular</h2>
    <div class="card-content image-row">
      <img src="../../assets/media/callingApi.png" alt="Calling API Image" (click)="onImageClick($event)">
    </div>
    <div class="card-text">
      <a href="https://github.com/hysengashii" target="_blank" class="github-link">View on GitHub</a>
    </div>
  </div>
</div>
<div class="spacer"></div>



 <div class="loading-screen">
  <div class="loader">
    <div class="loader-1 bar"></div>
    <div class="loader-2 bar"></div>
  </div>
</div>


