
.spacer {
  height: 50vh;
  opacity: 0.2;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.card {
  position: relative;
  top: -300px;
  margin: 10px;
  flex: 1 1 900px;
  max-width: 600px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-text {
  background-color: rgba(92, 68, 68, 0.7);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}





.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #FFF;
  pointer-events: none;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  background: rgb(80,80,80);
}
.loader-1{
  position: relative;
  background: #FFF;
  width: 200px;
}

.loader-2{
  position: relative;
  width: 100px;
  background: #fff;
}

.bar{
  height: 50px;
}


.h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  margin-top: 35px;
}















